@charset "utf-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-image:linear-gradient(to right, #4375d92c, #49A3F2, #cde36af9,#f2b90c44,#04d9d5);
}
main{
    background-color: white;
    width: 600px; /* Define a largura do elemento main */
    padding: 10px; /* Adiciona um pouco de espaço interno */
    margin: 20px auto; /* Centraliza horizontalmente e adiciona margem superior */
    border-radius: 20px; /* Adiciona bordas arredondadas */
    box-shadow: 10px 5px 10px; /* Adiciona uma sombra para dar profundidade */
}
h1{
    color: #01040b;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}
h2{
    color: #4375D9;
}
p{
    color: rgb(64, 17, 17);
}
p {
    text-align: justify;
}

 

