@charset "UTF-8";


header p {
    color: #00ff80;
    text-align: center;
    font-weight: bold;
}
header {
            background : linear-gradient(#7dd856c8 , #1e6e2e, #032409);
            padding: 30px;
            width: 90%;
            margin: auto;
            
            
        }

        body {
            font-family: Arial, sans-serif;
            color: #090202;
            padding: 20px;
            margin : 0;
            
        }
        h1 {
            color: #1b5f1b;
            text-align: center;
            font-weight: bolder;
            padding: 10px;
            font-style: oblique;
        }
        #principal {
            color: white;
            font-weight: 100;
            font-family:fantasy;
            width: 100%;
        }
        nav a {
            color: rgb(237, 237, 240);
            text-decoration: none;
            margin: 10px;
            text-align: left;
        }
        
        
    
            
        